div.container {
	margin-left: -8px;
    margin-bottom: -8px;
    margin-top: -6px;
	background-image: url('full.jpg');
}

div.dash {
	width: 70%;
	margin-left: 13%;
	margin-right: 15%;
	overflow: auto;
    background: #333;
	margin: 5px #333;
	padding: 2em;
}

h1 {
	font-family: Lucida Sans Unicode;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	color: #4CAF50;
	font-family: Times;
	font-style: initial;
	text-shadow: 5px 5px 10px #4CAF50;
}